<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="relative">
        <img src="./image.jpg" alt="image" />
        <div class="front">
            <h1>Welcome to Underwater-Object-Detection webapp</h1>
            <h2>Explore the Depths with Cutting-Edge Underwater Object Detection</h2>
            <p> Dive into the fascinating world beneath the surface with AquaVision, 
            your gateway to advanced underwater object detection technology. We bring you innovative 
            solutions for exploring, monitoring, and understanding the mysteries of the deep sea.</p>
            <button>Upload Image</button>
        </div>
    </div>
</body>
</html>
