<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="relative">
        <img src="./image.jpg" alt="image" />
        <div class="front">
            <h1>Welcome to Underwater-Object-Detection webapp</h1>
            <h2>Explore the Depths with Cutting-Edge Underwater Object Detection</h2>
            <p> Dive into the fascinating world beneath the surface with AquaVision, 
            your gateway to advanced underwater object detection technology. We bring you innovative 
            solutions for exploring, monitoring, and understanding the mysteries of the deep sea.</p>
            <button>Upload Image</button>
        </div>
    </div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Object Detection</title>
</head>
<body>
    
    <section>
        <!-- AI code-->
                        <form class="form-signin col-lg-3" method=post enctype=multipart/form-data name=
                <h1 class="h3 mb-3 font-weight-normal">Upload any image or video</h1> 
            <input type="file" name="file" class="form-control-file" id="inputfile" >
               <br/>
              <button class="btn btn-block btn-default btn-sm" type="submit">Upload</button> 
        <p class="mt-5 mb-3 text-muted">Built using Pytorch & Flask</p>
        </form>
        
        </div>
        </div>
        </div><!--/.card-body -->
        </div>
        <!--/.card -->
        </section>

</body>
</html>






