* {
    margin: 0;
    box-sizing: border-box;
}

/* Setting up the icons which is used */
.icons {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

a:hover {
    opacity: 60%;
}
/* Now Deal with Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    height: 80px;
    padding: 30px;
    box-shadow: 1px 3px lightblue;
    position: sticky;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo > h1 {
    text-decoration: none;
    color: black;
    font-size: 36px;
}

.rest {
    display: flex;
    align-items: center;
}

.rest > h2 {
    margin-left: 80px;
    margin-right: 10px;
}

/* Now style main body */
main {
    display: flex;
    margin: 50px;
}
#image-content {
    /* background-color: gold; */
    margin: 0px 100px 10px 180px;
    height: 350px;
    width: 400px;
}

#image-content > img {
    height: 100%;
    margin: 2px 50px 10px;
}

#image-content > h1 {
    color: rgb(69, 69, 69);
    font-weight: 700px;
    font-size: 2.5rem;
    font-family: Poppins,sans-serif;
    text-align: center;
}

#image-content > p {
    color: rgb(69, 69, 69);
    font-size: 1.25rem;
    text-align: center !important;
    padding-top: 10px;
    opacity: 60%;
}

#upload-section {
    background-color:aquamarine;
    box-shadow: 2px 2px 15px 8px lightgray;
    height: 300px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 30px;
    border-radius: 20px;
}

#upload-label {
    font-size: 1.5em; /* Adjust the font size as needed */
    cursor: pointer;    
}

.moon {
    margin: 20px;
}

/*  for the detect image button */
#detect-btn {
    background-color: #0f70e6;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-width: 3px !important;
    border-radius: 30px;
    cursor: pointer;
}

#detect-btn:hover {
    background-color: #4395f8;
}

/* Styling the description */
.description {
    background-color: peru;
}